.container {
    margin: 0 auto;
    max-width: 500px;

    @media screen and (min-width: 650px) {
        max-width: 800px;
    }
}

.display_controls {
    width: 100%;
    display: flex;
    margin: 0 auto 10px;

    div {
        flex: 0 0 125px;

        &.spacer {
            flex: 1 1 auto;
            text-align: center;
        }
    }

    input#square_size {
        max-width: 35px;
        width: 100%;
    }
}

.image_controls {
    display: flex;
    justify-content: center;
    margin: 0 0 10px 0;
}

.component-align {
    align-items: flex-start;

    @media screen and (min-width: 650px) {
        display: flex;
        justify-content: center;
    }
}

#plotter-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    position: relative;
    z-index: 10;

    .row {
        display: flex;
        flex: 0 0 auto;

        &:last-child {
            .square.grid {
                border-bottom-width: 1px;
            }
        }
    }

    .square {
        background: #FFF;
        border: 0 solid lightblue;
    }

    .square.grid {
        border-width: 1px 0 0 1px;

        &:last-child {
            border-right-width: 1px;
        }
    }

    @media screen and (min-width: 650px) {
        margin: 0 20px;
    }
}

.dl_image {
    display: block;
    margin: 0 auto;
}

#saverCanvas { display: none; }