<div class="container">
    <div class="display_controls">
        <div class="square_size">
            <label for="square_size">Square Size</label>
            <input
                id="square_size"
                max="20"
                min="1"
                type="number"
                [disabled]="imageSrc.length"
                [(ngModel)]="grid.squareWidth"/>
        </div>
        <div class="spacer"></div>
        <div class="grid-display">
            <label for="grid_display">Display Grid</label>
            <input id="grid_display" type="checkbox" [(ngModel)]="displayGrid" [disabled]="!!imageSrc">
        </div>
    </div>

    <div class="image_controls">
        <button [disabled]="!isDirty || !!imageSrc" (click)="saveImage()" type="button">SAVE</button>
        &nbsp;
        <button (click)="newImage()" type="button">CLEAR</button>
        &nbsp;
        <button [disabled]="!imageSrc" (click)="showPlotter()" type="button">BACK</button>
    </div>

    <div class="component-align">
        <app-tool-picker></app-tool-picker>

        <div
            *ngIf="!imageSrc"
            id="plotter-container"
            [ngStyle]="{'width': getGridWidth() + 'px'}"
            (mousedown)="setMouseClick(true)"
            (mouseup)="setMouseClick(false)">

            <div *ngFor="let row of grid.getGrid()" class="row" [ngStyle]="{'height': grid.squareWidth + 'px'}">
                <div
                    *ngFor="let square of row"
                    (mousedown)="fillSquare(square)"
                    (mouseover)="toggleChecked(square)"
                    class="square" [ngClass]="{'grid': displayGrid}"
                    [ngStyle]="{'background': square.color, 'width': grid.squareWidth + 'px', 'height': grid.squareWidth + 'px'}">
                </div>
            </div>
        </div>

        <div *ngIf="imageSrc" [ngStyle]="{'width': getGridWidth() + 'px', 'height': getGridWidth() + 'px'}">
            <p>Right-click below to save image</p>
            <img class="dl_image" [src]="imageSrc" alt="dl image">
        </div>

        <app-color-picker></app-color-picker>
    </div>

    <canvas id="saverCanvas"></canvas>
</div>