div.tool-picker-container {
    display: flex;
    justify-content: center;
    width: 100%;

    @media screen and (min-width: 650px) {
        flex-direction: column;
    }
}

.tool {
    border: 1px solid #000;
    cursor: pointer;
    font-size: 40px;
    height: 50px;
    line-height: 50px;
    margin: 0 5px 10px;
    text-align: center;
    width: 50px;
    font-family: Webdings, sans-serif;
}

.tool.selected {
    background: #DDD;
}