<div class="tool-picker-container">
  <div class="tool" *ngFor="let tool of tools" [innerHTML]="tool.icon" (click)="setActiveTool(tool)"
       [ngClass]="tool === activeTool ? 'selected' : ''"></div>
</div>
