app-plotter {
    display: inline-block;
    vertical-align: top;
    width: 100%;
}

app-color-picker {
    display: inline-block;
    margin-left: 50px;
    vertical-align: top;
}

app-tool-picker {
    display: inline-block;
    margin-right: 50px;
    vertical-align: top;
}

.app-content {
    margin:0 auto;
    max-width: 1100px;
}
