.color-picker-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px auto 0 auto;

    @media screen and (min-width: 650px) {
        flex-direction: column;
        max-height: 360px;
        margin: 0;
    }
}

.color {
    border: 1px solid #000;
    cursor: pointer;
    height: 50px;
    line-height: 50px;
    margin: 2px;
    width: 50px;
}

span.active {
    display: none;
    text-align: center;
    font-size: 30px;
    color: gold;
}

.selected span.active {
    display: block;
}
