<div class="color-picker-container">
  <div class="color" *ngFor="let color of colors" [ngStyle]="{'background-color': color}"
       (click)="setActiveColor(color)"
       [ngClass]="color === activeColor ? 'selected' : ''"><span class="active">√</span></div>
</div>
